body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-bottom: 30px;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* --------------------  BREADCRUMB -------------------- */
/* --------------------             -------------------- */
.breadcrumb {
    background: none;
    float: right;
    font-size: 0.8em;
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb a {
    color: #777;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #3498db;
    transition: color 0.2s ease-in-out;
}
/* --------------------    BUTTONS   -------------------- */
/* --------------------              -------------------- */
.btn {
    text-transform: uppercase;
    font-size: 0.8em;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0px;
    background-color: #ffffff;
    transition: background 0.2s ease-in-out;
}
.btn-success {
    border-color: #2ecc71;
    color: #2ecc71;
}
.btn-success:hover {
    border-color: #2ecc71;
    background-color: #2ecc71;
}
.btn-danger {
    border-color: #e74c3c;
    color: #e74c3c;
}
.btn-danger:hover {
    border-color: #e74c3c;
    background-color: #e74c3c;
}
.btn-primary {
    border-color: #3498db;
    color: #3498db;
    
}
.btn-primary:hover {
    border-color: #3498db;
    background-color: #3498db;
}
/* --------------------    COLUMNS   -------------------- */
/* --------------------              -------------------- */
.min-spaces {
    margin: 0;
    padding: 2px 2px 2px 2px;
}
/* --------------------    CONSULTATION   -------------------- */
/* --------------------       FORM        -------------------- */
.consultation-form label {
    font-size: 0.7em;
}
.consultation-form strong {
    font-size: 0.7em;
}
.consultation-form tight{
    padding-left: 5px;
    padding-right: 5px;
}

.consultation-form input{
    border-radius: 0 !important; 
}

.consultation-result .panel {
    margin-bottom: 5px !important; 
}
/* ------------ RESULT LIST ------------*/
/* ------------             ------------*/

.consultation-panel-heading {
    padding-top: 2px; 
    padding-bottom: 2px;
    font-size: 0.9em;
}
.consultation-panel-body {
    padding-top: 0px; 
    padding-bottom: 0px;
    font-size: 0.9em;
}
.consultation-result a {
    text-decoration: none;
    color: inherit;
    transition: color 0.1s ease-in-out;
}
.consultation-result a:hover {
    color: #2ecc71;
    transition: color 0.1s ease-in-out;
}
/* ---- COLORS STATUS  ---- */
.consultation-active {
    border-color: #2ecc71 !important; 
}
.consultation-active-heading {
    background: #2ecc71 !important;
    color: #fdfdfd !important;
}
.consultation-cancel {
    border-color: #e74c3c !important; 
}
.consultation-cancel-heading {
    background: #e74c3c !important;
    color: #ecf0f1 !important;
}



/* --------------------     FLASH    -------------------- */
/* --------------------              -------------------- */
.alert {
    border-radius: 0px;
    font-size: 0.9em;
}
.alert-success {
    color: #fdfdfd;
    background-color: #2ecc71;
    border-color: #27ae60;
}
.alert-danger {
    color: #fdfdfd;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

/* --------------------     FORMS    -------------------- */
/* --------------------              -------------------- */
.form-control {
    border-radius: 0;
    font-size: 0.8em;
}
.help-block {
    font-size: 0.8em;
    margin-bottom: 0;
}
.has-error {
    margin-bottom: 0;
}
.input-group-addon {
    border-radius: 0;
}

.no-border-radius {
    border-radius: 0 !important;
}
/* --------------------     GRIDVIEW    -------------------- */
/* --------------------                 -------------------- */
th a {
    color: #333;
}
th a:hover {
    color: #3498db;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
td .glyphicon {
    color: #333;
}
td .glyphicon:hover {
    color: #3498db;
    transition: color 0.2s ease-in-out;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #eaf2f7;
}
.table-striped > tbody {
    font-size: 0.9em;
}
.summary {
    display: none;
}
/* --------------------     PANEL    -------------------- */
/* --------------------              -------------------- */
.panel {
    border-radius: 0;
}
.panel-heading {
    border-radius: 0;
}
.tight-pane {
    padding: 15px 2px 0 2px;
}
/* --------------------     INDEX SITE    -------------------- */
/* --------------------                   -------------------- */

/* --------------------      SORTABLE     -------------------- */
/* --------------------       INPUT       -------------------- */
#acceptedRoomTypes {
    display: none;
}
#acceptedRoomTypes-sortable {
    min-height: 40px;
}
/* --------------------      MAIN MENU     -------------------- */
/* --------------------       OPTION       -------------------- */
.main-menu-options {
    transition: background 0.2s ease-in-out;
    transition-property: background, color;
    border-radius: 3px;
    margin-bottom: 10px;
}
.main-menu-options:hover {
    background-color: #2ecc71;
    color: #fdfdfd;
    transition: 0.2s ease-in-out;
    transition-property: background, color;
    border-radius: 3px;
}
.site-index a {
    text-decoration: none;
    color: inherit;
}
.site-index img {
    width: 80px;
    margin-top: 10px;
}