/* --------------------  BREADCRUMB -------------------- */
/* --------------------             -------------------- */
.breadcrumb {
    background: none;
    float: right;
    font-size: 0.8em;
    padding-left: 0px;
    padding-right: 0px;
}

.breadcrumb a {
    color: #777;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #3498db;
    transition: color 0.2s ease-in-out;
}
/* --------------------    BUTTONS   -------------------- */
/* --------------------              -------------------- */
.btn-success {
    background-color: #ffffff;
    border-color: #2ecc71;
    border-radius: 0px;
    color: #2ecc71;
    font-size: 0.8em;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
}
/* --------------------     FORMS    -------------------- */
/* --------------------              -------------------- */
input[type=text] {
    border-radius: 0px;
    font-size: 0.8em;
}
.help-block {
    font-size: 0.8em;
}
/* --------------------     PANEL    -------------------- */
/* --------------------              -------------------- */
.panel {
    border-radius: 0px;
}
